@using E_Ticaret.Models.Siniflar
@model List<Sale>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satış Detay</h2>
<br />


<table class="table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>


    </tr>
    @foreach (var x in Model)
    {


        <tr>
            <td>@x.SalesID</td>
            <td>@x.Product.ProductName</td>
            <td>@x.Customer.CustomerName @x.Customer.CustomerSurname</td>
            <td>@x.Staff.StaffName @x.Staff.StaffSurname</td>
            <td>@x.Price</td>
            <td>@x.Amount</td>
            <td>@x.Total</td>
            <td>@x.Date</td>


        </tr>
    }
</table>
<button class="btn btn-default" style="background-color:dodgerblue; color:white;">Yazdır</button>


