@using E_Ticaret.Models.Siniflar
@model List<Sale>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Müşteri Adı:@ViewBag.cari</li>
</ol>

<table class="table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Personal</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>

    </tr>
    @foreach (var x in Model)
    {


        <tr>
            <td>@x.SalesID</td>
            <td>@x.Product.ProductName</td>
            <td>@x.Staff.StaffName @x.Staff.StaffSurname</td>
            <td>@x.Price</td>
            <td>@x.Amount</td>
            <td>@x.Total</td>
            <td>@x.Date</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue; color:white;">Yazdır</a></td>

        </tr>
    }
</table>


